# Python
venv/
__pycache__/
*.py[cod]
*.pyc
.venv/

# Django
db.sqlite3
.env
.env.*
/static/
/media/
*.log

# Frontend
node_modules/
dist/
frontend/.vite/
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# General
.DS_Store
*.pem
*.key

# Project-specific
bookai/data/*.json
bookai/book_embeddings.pkl